<!DOCTYPE html>
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@Microsoft.AspNet.Mvc.Facebook.GlobalFacebookConfiguration.Configuration.AppId', // App ID
                status: true, // vérifier l'état de la connexion
                cookie: true, // activer les cookies pour autoriser le serveur à accéder à la session
                xfbml: true  // analyser XFBML
            });
        };

        // Charger le SDK de manière asynchrone
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <div id="wrapper">
        <header id="topHeader">
            <h1>Bonjour</h1>
            <span id="arrow"></span>
            <h2>Modifiez ce modèle pour dynamiser votre application Facebook à l'aide d'ASP.NET MVC.</h2>
            <p>
                En savoir plus sur <a href="http://go.microsoft.com/fwlink/?LinkId=269921" target="_blank">la création d’applications Facebook à l’aide d’ASP.NET MVC</a>.
            </p>
        </header>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET MVC</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>